.site-section .container .section-wrapper {
    display: flex;
    flex-flow: column;
}
.site-section .container .section-wrapper .p-content {
    margin-bottom: 4rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.site-section .container .section-wrapper .p-content p{
    text-align: center;
}
.site-section .container .section-wrapper .list-content{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
